@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment
@inject WebShop.Infrastructure.DeploymentEnvironment.IDeploymentEnvironment DeploymentEnvironment
@inject Microsoft.Extensions.Options.IOptions<WebShop.Infrastructure.AppSettings> AppSettings

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1" />
  <title>@ViewBag.Title - @AppSettings.Value.SiteTitle</title>

  <link rel="icon" type="image/x-icon" href="/spa/img/favicon.ico">  
  <link rel="stylesheet" href="/spa/semantic/semantic.min.css">

  @RenderSection("head", required: false)
</head>
<body>
  <div class="ui compact mini top fixed inverted black menu" style="height: 2.5rem;">  
      <a href="/" class="header item"><i class="arrow left icon"></i>Back to shop</a>
      <div class="right compact mini menu">
        @await Html.PartialAsync("_AdminLoginPartial")
      </div>  
  </div>

  <div class="body-wrapper">
    @RenderBody()
  </div>

  <environment names="Development">
  </environment>
  <environment names="Staging,Production">
  </environment>

  @RenderSection("scripts", required: false)

  </body>
</html>

<cache>
  <!-- Environment: @DeploymentEnvironment.Environment -->
  <!-- Application: @DeploymentEnvironment.Application -->
  <!-- Deployment: @DeploymentEnvironment.DeploymentSha -->
  <!-- Framework: @DeploymentEnvironment.Framework -->
  <!-- OS: @DeploymentEnvironment.OS  -->
</cache>
