@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment HostingEnvironment
@inject WebShop.Infrastructure.DeploymentEnvironment.IDeploymentEnvironment DeploymentEnvironment
@inject Microsoft.Extensions.Options.IOptions<WebShop.Infrastructure.AppSettings> AppSettings

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewBag.Title - @AppSettings.Value.SiteTitle</title>

  <!--[if IE]>
  <meta HTTP-EQUIV="REFRESH" content="0; url=https://browser-update.org/update.html">
  <![endif]-->

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet">

  @RenderSection("head", required: false)
</head>

<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <a class="navbar-brand" href="/">Home</a>
  
  <ul class="nav navbar-nav">
    <li class="nav-item"></li>
    @await Html.PartialAsync("_LoginPartial")
  </ul>

</nav>
<div class="body-wrapper container">
  @RenderBody()
</div>

@RenderSection("scripts", required: false)

</body>
</html>

<cache>
  <!-- Environment: @DeploymentEnvironment.Environment -->
  <!-- Application: @DeploymentEnvironment.Application -->
  <!-- Deployment: @DeploymentEnvironment.DeploymentSha -->
  <!-- Framework: @DeploymentEnvironment.Framework -->
  <!-- OS: @DeploymentEnvironment.OS  -->
</cache>
